body{
  background: #04ba8c;  
  overflow-x: hidden;
  /* background: -webkit-linear-gradient(to right, #3c1053, #ad5389);  
  background: linear-gradient(to right, #3c1053, #ad5389);  */
}

#intro{
    text-align: center;
    color: #fff;
    margin: 8% 0 8% 0;
    font-family: Dosis;
    letter-spacing: 1px;
}

.allCont{
    background-color: #fff;
    border-radius: 16px;
    width: 100%;
    height: auto;
    -webkit-box-shadow: 21px 18px 28px -15px black;
    -moz-box-shadow: 21px 18px 28px -15px black;
    box-shadow: 21px 18px 28px -15px black;
    margin-bottom: 2%;
}


input{
    background-color: none !important;
    border-color: #04ba8c !important; 
    border-radius: 8px !important;
    color: #04ba8c !important;
    transition: all 0.5s ease-in;
    font-family: Dosis;
    font-weight: 500;
    letter-spacing: 1px;
    
}

input::placeholder {
    font-style: italic;
    color: #04ba8c !important;
}


input:focus, input:link, input:active{
  box-shadow: none !important;
  border-color: #878787 !important; 
  transition: all 0.5s;
}


select{
  background-color: none !important;
  border-color: #04ba8c !important; 
  border-radius: 8px !important;
  color: #04ba8c !important;
  transition: all 0.5s ease-in;
  
}

select::placeholder {
  font-style: italic;
  color: #878787 !important;
}

#divid {
  border-top: 1px double #04ba8c;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

label{
    margin-bottom: 5px !important;
    font-family: Dosis;
    font-weight: 600;
    letter-spacing: 1px;
}

#infoPi, #infoEd, #infoJob, #infoSkills{
  text-align: center;
  background-color:#04ba8c;
  color: white;
  margin-top: 7%;
  margin-bottom: 7%;
}
  
  #summary, #skills{
    border-color: #ad5389;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    height: 160px;
  }
  #summary::placeholder, #skills::placeholder {
    font-style: italic;
    color: #3c1053 !important;
  }

  #summary:active, #summary:focus,  #skills:active, #skills:focus{
    box-shadow: none;
  }




  /* .myCheckbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.myCheckbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #e9e9e9;
    border-radius:15px;
    border: 1px solid #3c1053;
    transition: 1s;
}



.myCheckbox input:checked ~ .checkmark {
    background-color: #3c1053;
    transition: 1s;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.myCheckbox input:checked ~ .checkmark:after {
    display: block;
}

.myCheckbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: 1s;
} */


.btn {
  background: #fff;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Courier New;
  color: #04ba8c;
  font-size: 20px;
  padding: 4px 13px 4px 13px;
  text-decoration: none;
  border-style: solid;
  border-width: 1px;
  border-color: #04ba8c;
  border-radius: 50%;
  margin-top: 10%;

}

.btn:hover{
  color: white;
  background-color: #04ba8c;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  box-shadow: none;
}
.btn:focus{
  outline: none;
  box-shadow: none;
}

#workcClonediv, #workcClonedivTwo, #workcClonedivThree, #workcClonedivFour{
  margin-top: 5%;
  margin-bottom: 5%;
  display: none;
}
 
#remove, #removeWork{
  display: none;
}

.removeEd {
    background-color:transparent;
    -moz-border-radius:42px;
    -webkit-border-radius:42px;
    border-radius:42px;
    border:1px solid #ad5389;
    cursor:pointer;
    color: #ad5389;
    font-family:Arial;
    font-size:22px;
    padding:2px 8px;
    text-decoration:none;
}
.removeEd:hover{
    background-color:transparent;
    cursor: pointer;
}
  
#submitButton{
  background-color: #fff;
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 8px;
  color: #04ba8c;
  font-family: Dosis;
  letter-spacing: 1px;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  border: solid #04ba8c 2px;
  margin-bottom: 15%;
}

#submitButton:hover, #submitButton:active, #submitButton:visited, #submitButton:focus{
  color: white;
  background-color: #04ba8c;
  transform: scale(1.1);
  transform: 0.5s;
  cursor: pointer;
  outline: none;
}

.valid-error{
  border-color: red!important;
}

input[type="range"]{
  padding: 0rem !important;
  border-radius: none !important;
}

input[type="range"]:hover{
  border:1px solid #04ba8c !important;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: hsl(0, 0%, 100%);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04ba8c;
  border-radius: 8px;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04ba8c;
  cursor: pointer;
}

.range-label{
  display: flex;
  justify-content: space-between;
  padding: 0.2rem 0.5rem;
}















